
<patTemplate:tmpl  name="timesheet_summary">

<div class="centered">
<h3>
<a href="?{SUMMARY}"><img src="images/icons/gnome/stock/generic/stock_undo.png" class="inlineicon">Back to summary</a> <a href="?page=reports&Period=year&Type=cashflow"><img src="images/icons/gnome/stock/generic/stock_calendar.png" class="inlineicon">Annual</a> <a href="?page=reports&Period=week&Type=cashflow"><img src="images/icons/gnome/stock/net/stock_appointment-reminder.png" class="inlineicon">Weekly</a></h3>
<table class="results">
 <tr>
 <td>&nbsp;</td>
 <td class="heading" colspan="{HEADING_COLSPAN}">
  <a href="?{ACTION}&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
   <a href="?page=clients&action=view_client&Client_ID={CLIENT_ID}"><span class="client">{CLIENT}</span></a> {TYPE} for <span class="period">{TIMESHEET_PERIOD}</span>
   
  <a href="?{ACTION}&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
 </tr>
 <tr>
 <td>&nbsp;</td>
  <patTemplate:link src="months" />
 </tr>
 <tr>
 <td class="cell0b">Income</td>
  <patTemplate:link src="month_payment_figures" />
 </tr>
 <tr>
 <td class="cell1b">Expenditure</td>
  <patTemplate:link src="month_outgoing_figures" />
 </tr>
 <tr valign="bottom">
 <td>&nbsp;</td>
  <patTemplate:link src="month_timesheet_graphs" />
 </tr>
 <tr>
 <td class="cell1b">Profit</td>
  <patTemplate:link src="month_profit_figures" />
 </tr>
 <tr>
 <td>&nbsp;</td>
  <td colspan="{SPACER_COLSPAN}">&nbsp;</td>
  <th class="cellb" colspan="2">Income:</th>
  <th class="cella" colspan="2">_HTML_CURENCY_SYMBOL_{TOTAL_PAYMENT}</th>
 </tr>
 <tr>
 <td>&nbsp;</td>
  <td colspan="{SPACER_COLSPAN}">&nbsp;</td>
  <th class="cellb" colspan="2">Expenditure:</th>
  <th class="cella" colspan="2"><span class="red">_HTML_CURENCY_SYMBOL_{TOTAL_OUTGOING}</span></th>
 </tr>
 <tr>
 <td>&nbsp;</td>
  <td colspan="{SPACER_COLSPAN}">&nbsp;</td>
  <th class="cellb" colspan="2">Profit:</th>
  <th class="cella" colspan="2">_HTML_CURENCY_SYMBOL_{TOTAL_PROFIT}</th>
 </tr>
</table>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="months">
<th class="cell{I}">{PERIOD}</th>
</patTemplate:tmpl>

<patTemplate:tmpl name="month_timesheet_graphs">
<td class="cell0{I}">
<img src="images/misc/green-graph.gif" width="30" height="{VALUE_GRAPH}" title="£{VALUE} in {TIME}" alt="£{VALUE} in {TIME}" class="smallgra">
</td>
</patTemplate:tmpl>

<patTemplate:tmpl name="month_payment_figures">
<td class="cell0{I}">
_HTML_CURENCY_SYMBOL_{VALUE}
</td>
</patTemplate:tmpl>

<patTemplate:tmpl name="month_outgoing_figures">
<td class="cell1{I}">
<span class="red">_HTML_CURENCY_SYMBOL_{VALUE}
</td>
</patTemplate:tmpl>


<patTemplate:tmpl name="month_profit_figures">
<td class="cell1{I}">
_HTML_CURENCY_SYMBOL_{VALUE}
</td>
</patTemplate:tmpl>

<patTemplate:tmpl name="view_timesheet">

<div class="centered">
<h3>
<a href="?page=reports&Type=cashflow">Back to summary <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

<table class="results">
 <tr>
  <td colspan="7" class="heading">
     <a href="?page=reports&Type=cashflow&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
	{TIMESHEETS} Items During {TIMESHEET_PERIOD}
	<a href="?page=reports&Type=cashflow&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_END}&End_Timestamp={NEXT_PERIOD_START}&csv=true">CSV</a>
	<a href="?page=clients&action=edit_timesheet&Timesheet_ID=0&Client_ID={CLIENT_ID}">New</a>
	<a href="?page=clients&action=view_timesheet&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
 </tr>
 <tr>
  <th class="cella">ID</th>
  <th class="cellb">Date</th>
  <th class="cella">Time</th>
  <th class="cellb">Description</th>
  <th class="cella">Value</th>
  <th class="cellb">Edit</th>
  <th class="cella">Delete</th>
  </tr>
<patTemplate:link src="timesheet_results" />
 <tr>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th class="cellb">{TOTAL_TIME}</th>
  <th>&nbsp;</th>
  <th class="cellb">_HTML_CURENCY_SYMBOL_{TOTAL_VALUE}</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  </tr>
 </table>
</div>
</patTemplate:tmpl>


<patTemplate:tmpl name="timesheet_results">
 <tr>
  <td class="cell{I}a"><a title="edit timesheet item" href="?page=clients&action=edit_timesheet&Timesheet_ID={ID}">{ID}</a></td>
  <td class="cell{I}b">{DATE}</td>
  <td class="cell{I}a">{TIME}</td>
  <td class="cell{I}b">{DESCRIPTION}</td>
  <td class="cell{I}a">_HTML_CURENCY_SYMBOL_{VALUE}</td>
  <td class="cell{I}a"><a title="edit timesheet item" href="?page=clients&action=edit_timesheet&Timesheet_ID={ID}"><img 
  src="images/icons/16x16/viewmag.png"></a></td>
  <td class="cell{I}b"><a title="delete timesheet item" href="?page=clients&action=delete_timesheet&Timesheet_ID={ID}&Client_ID={CLIENT_ID}"><img 
  src="images/icons/gnome_small/stock/generic/stock_stop.png"></a></td>
 </tr>
</patTemplate:tmpl>



<patTemplate:tmpl name="edit_timesheet">

<div class="centered">
<form action="?page=clients&action=submit_timesheet" method="POST">
<input type="hidden" name="ID" value="{ID}">
<input type="hidden" name="Client_ID" value="{CLIENT_ID}">
<h3>
<a href="?page=clients&action=view_timesheet&Client_ID={CLIENT_ID}">Back to timesheet <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

<table class="results">
 <tr>
  <td colspan="7" class="heading2">
  Edit Timesheet
	Client: {COMPANY_NAME} Opened: {DATE}	
  </td>
 </tr>
 <tr>
  <th class="cella">Client:</th>
  <th class="cellb">{COMPANY_NAME}</th>
  <th class="cella">Opened:</th>
  <th class="cellb"><input type="text" name="Opened" value="{OPENED}"></th>
  <th class="cella">Time now:</th>
  <th class="cellb" colspan="2">{TIME_NOW}</th>
 </tr>
 <tr>
  <td class="cell1a">Time</td>
  <td class="cell1b"><input type="text" name="Time" value="{TIME}"></td>
  <td class="cell1a">Description</td>
  <td class="cell1b"><input type="text" name="Description" value="{DESCRIPTION}"></td>
  <td class="cell1a">Value</td>
  <td class="cell1b">_HTML_CURENCY_SYMBOL_<input type="text" name="Value" value="{VALUE}"></td>
  <td class="cell1a"><input type="submit" value="submit"></td>
  </tr>
 </table>
 </form>
</div>
</patTemplate:tmpl>

