<patTemplate:tmpl name="create_account">
<div class="centered">
<form name="loginForm" action="create_account.php" method="POST" target="_top">
<div id="createbox">

<div class="header1"><h2>Enter Details</h2></div>

<patTemplate:link src="message" />

<form name='User_tbl' action='?create_account.php' method='POST'>
<table class="edit">
<tr>
<th class='{EMAIL_CLASS}'>Email: </th><td class='{EMAIL_CLASS}'><input type='text' name='Email' value='{EMAIL}' size='50' maxlength='50'></td>
<th class='{PASSWORD_CLASS}'>Password: </th><td class='{PASSWORD_CLASS}'><input type='text' name='Password' value='{PASSWORD}' size='60' maxlength='64'></td>
</tr>
<tr>
<th class='{FIRST_NAME_CLASS}'>First_Name: </th><td class='{FIRST_NAME_CLASS}'><input type='text' name='First_Name' value='{FIRST_NAME}' size='30' maxlength='30'></td>

<th class='{SURNAME_CLASS}'>Surname: </th><td class='{SURNAME_CLASS}'><input type='text' name='Surname' value='{SURNAME}' size='30' maxlength='30'></td>
</tr>
<tr>
<th class='{COMPANY_NAME_CLASS}'>Company_Name: </th><td class='{COMPANY_NAME_CLASS}'><input type='text' name='Company_Name' value='{COMPANY_NAME}' size='50' maxlength='50'></td>
<th class='{ADDRESS1_CLASS}'>Address1: </th><td class='{ADDRESS1_CLASS}'><input type='text' name='Address1' value='{ADDRESS1}' size='50' maxlength='50'></td>
</tr>
<tr>
<th class='{ADDRESS2_CLASS}'>Address2: </th><td class='{ADDRESS2_CLASS}'><input type='text' name='Address2' value='{ADDRESS2}' size='50' maxlength='50'></td>
<th class='{CITY_CLASS}'>City: </th><td class='{CITY_CLASS}'><input type='text' name='City' value='{CITY}' size='50' maxlength='50'></td>

</tr>
<tr>
<th class='{REGION_CLASS}'>Region: </th><td class='{REGION_CLASS}'><input type='text' name='Region' value='{REGION}' size='50' maxlength='50'></td>
<th class='{COUNTRY_CLASS}'>Country: </th><td class='{COUNTRY_CLASS}'><input type='text' name='Country' value='{COUNTRY}' size='20' maxlength='20'></td>
</tr>
<tr>
<th class='{POSTCODE_CLASS}'>Postcode: </th><td class='{POSTCODE_CLASS}'><input type='text' name='Postcode' value='{POSTCODE}' size='12' maxlength='12'></td>
<th class='{TELEPHONE_CLASS}'>Telephone: </th><td class='{TELEPHONE_CLASS}'><input type='text' name='Telephone' value='{TELEPHONE}' size='12' maxlength='12'></td>
</tr>

<tr>
<th class='{FAX_CLASS}'>Fax: </th><td class='{FAX_CLASS}'><input type='text' name='Fax' value='{FAX}' size='12' maxlength='12'></td>
<th class='{WEBSITE_CLASS}'>Website: </th><td class='{WEBSITE_CLASS}'><input type='text' name='Website' value='{WEBSITE}' size='60' maxlength='100'></td>
</tr>
</table>
<div class='centered'>

<span class="{TERMS_CLASS}"><input type="checkbox" name="Terms" value="true">I have read and agreed to the Terms &amp; Conditions below</span>

<input type='submit' name='Submit' value='Create Account'></div>


<div class="header2">
<a href="terms_and_conditions.txt">Terms &amp; Conditions</a>
</div>

</div>

</form>
</div>
</patTemplate:tmpl>


<patTemplate:tmpl name="message" visibility="hidden">
<div class="warning">
{MESSAGE}
</div>
</patTemplate:tmpl>



<patTemplate:tmpl name="account_created">
<div id="loginbox">

<div class="header1"><h2>Account Created</h2></div>

<div id="loginformbox">
Your account has bee created and your password emailed for confirmation.<br>
You may now <a href="index.php">login</a> with those details.
</div>

<div class="header2">
&nbsp;
</div>

</div>

</patTemplate:tmpl>

