<patTemplate:tmpl name="create_config">
<div class="centered">
	<form name="loginForm" action="?action=config" method="POST" target="_top">
		<div id="createbox">

			<div class="header1"><h2>PHP Accounts Installer</h2></div>

			<patTemplate:link src="message" />


			<table class="edit">
				<tr>
					<th class='{USERNAME_CLASS}'>Database Username: </th><td class='{USERNAME_CLASS}'><input type='text' name='Username' value='{USERNAME}' size='40' maxlength='50'></td>
					<th class='{PASSWORD_CLASS}'>Database Password: </th><td class='{PASSWORD_CLASS}'><input type='password' name='Password' value='{PASSWORD}' size='60' maxlength='64'></td>
				</tr>
				<tr>
					<th class='{DATABASE_CLASS}'>Database Name: </th><td class='{DATABASE_CLASS}'><input type='text' name='Database' value='{DATABASE}' size='40' maxlength='50'></td>
					<th class='{HOST_CLASS}'>Database Host: </th><td class='{HOST_CLASS}'><input type='text' name='Host' value='{HOST}' size='60' maxlength='64'></td>
				</tr>
				<tr>
					<th class='{DB_DRIVER_CLASS}'>Database Driver</th>
					<td class='{DB_DRVIER_CLASS}'>
						<select name='DB_Driver'>
							<option value="mysql">mysql</option>
						</select>
					</td>
					<th class='{DB_PREFIX_CLASS}'>Database Prefix: </th><td class='{DB_PREFIX_CLASS}'><input type='text' name='DB_Prefix' value='{DB_PREFIX}' size='60' maxlength='64'></td>
				</tr>
				<tr>
					<th class='{ADMIN_EMAIL_CLASS}'>Admin Email</th><td colspan="3" class='{ADMIN_EMAIL_CLASS}'><input type='text' name='Admin_Email' value='{ADMIN_EMAIL}' size='60' maxlength='64'></td>
				</tr>
			</table>

			<div class='centered'>
				<input type='submit' name='Submit' value='Create Config File'>
			</div>
		</div>
	</form>
</div>

</patTemplate:tmpl>

<patTemplate:tmpl name="config_file">
<?php

//PHP ACCOUNTS Config File

//database config
define('DB_DRIVER','{DB_DRIVER}');
define('DB_USER','{USERNAME}');
define('DB_PASS','{PASSWORD}');
define('DB_READER_HOST','{HOST}');
define('DB_WRITER_HOST','{HOST}');
define('DB_NAME','{DATABASE}');
define('DB_PREFIX','{DB_PREFIX}');

//other
define('ADMIN_EMAIL','{ADMIN_EMAIL}');

?>
</patTemplate:tmpl>

<patTemplate:tmpl name="config_complete">
<div id="createbox">
	<form name="loginForm" action="?action=create_account" method="POST" target="_top">
	<div class="header1"><h2>Config File Created</h2></div>
	<patTemplate:link src="message" />
	<pre>
{CONFIG}
	</pre>

		<div class='centered'>
			<input type='submit' name='Submit' value='Continue'>
		</div>

	</div>
</form>
</div>


</patTemplate:tmpl>



<patTemplate:tmpl name="create_account">
<div class="centered">
	<form name="loginForm" action="?action=submit_create_account" method="POST" target="_top">
		<div id="createbox">

			<div class="header1"><h2>Enter Details</h2></div>

			<patTemplate:link src="message" />

			<form name='User_tbl' action='?action=account' method='POST'>
				<table class="edit">
					<tr>
						<th class='{EMAIL_CLASS}'>Email: </th><td class='{EMAIL_CLASS}'><input type='text' name='Email' value='{EMAIL}' size='40' maxlength='50'></td>
						<th class='{PASSWORD_CLASS}'>Password: </th><td class='{PASSWORD_CLASS}'><input type='text' name='Password' value='{PASSWORD}' size='60' maxlength='64'></td>
					</tr>
					<tr>
						<th class='{FIRST_NAME_CLASS}'>First_Name: </th><td class='{FIRST_NAME_CLASS}'><input type='text' name='First_Name' value='{FIRST_NAME}' size='30' maxlength='30'></td>

						<th class='{SURNAME_CLASS}'>Surname: </th><td class='{SURNAME_CLASS}'><input type='text' name='Surname' value='{SURNAME}' size='30' maxlength='30'></td>
					</tr>
					<tr>
						<th class='{COMPANY_NAME_CLASS}'>Company_Name: </th><td class='{COMPANY_NAME_CLASS}'><input type='text' name='Company_Name' value='{COMPANY_NAME}' size='40' maxlength='50'></td>
						<th class='{ADDRESS1_CLASS}'>Address1: </th><td class='{ADDRESS1_CLASS}'><input type='text' name='Address1' value='{ADDRESS1}' size='40' maxlength='50'></td>
					</tr>
					<tr>
						<th class='{ADDRESS2_CLASS}'>Address2: </th><td class='{ADDRESS2_CLASS}'><input type='text' name='Address2' value='{ADDRESS2}' size='40' maxlength='50'></td>
						<th class='{CITY_CLASS}'>City: </th><td class='{CITY_CLASS}'><input type='text' name='City' value='{CITY}' size='40' maxlength='50'></td>

					</tr>
					<tr>
						<th class='{REGION_CLASS}'>Region: </th><td class='{REGION_CLASS}'><input type='text' name='Region' value='{REGION}' size='40' maxlength='50'></td>
						<th class='{COUNTRY_CLASS}'>Country: </th><td class='{COUNTRY_CLASS}'><input type='text' name='Country' value='{COUNTRY}' size='20' maxlength='20'></td>
					</tr>
					<tr>
						<th class='{POSTCODE_CLASS}'>Postcode: </th><td class='{POSTCODE_CLASS}'><input type='text' name='Postcode' value='{POSTCODE}' size='12' maxlength='12'></td>
						<th class='{TELEPHONE_CLASS}'>Telephone: </th><td class='{TELEPHONE_CLASS}'><input type='text' name='Telephone' value='{TELEPHONE}' size='12' maxlength='12'></td>
					</tr>

					<tr>
						<th class='{FAX_CLASS}'>Fax: </th><td class='{FAX_CLASS}'><input type='text' name='Fax' value='{FAX}' size='12' maxlength='12'></td>
						<th class='{WEBSITE_CLASS}'>Website: </th><td class='{WEBSITE_CLASS}'><input type='text' name='Website' value='{WEBSITE}' size='60' maxlength='100'></td>
					</tr>
				</table>
				<div class='centered'>

					<span class="{TERMS_CLASS}"><input type="checkbox" name="Terms" value="true">I have read and agreed to the Terms &amp; Conditions below</span>

					<input type='submit' name='Submit' value='Create Account'></div>


				<div class="header2">
					<a href="terms_and_conditions.txt">Terms &amp; Conditions</a>
				</div>

			</div>

		</form>
	</div>
	</patTemplate:tmpl>


	<patTemplate:tmpl name="message" visibility="hidden">
	<div class="warning">
		{MESSAGE}
	</div>
	</patTemplate:tmpl>



	<patTemplate:tmpl name="account_created">
	<div id="loginForm">
	<fieldset>
	<legend>Account Created</legend>

	Your account has bee created and your password emailed for confirmation.<br>
	You may now <a href="index.php">login</a> with those details.
<p>

<patTemplate:link src="user_directory_not_writable" />
</p>
	</fieldset>

	</div>

</patTemplate:tmpl>

<patTemplate:tmpl name="upgrade-complete">
<h2>Upgrade Script Complete</h2>
You may now <a href="./">login</a>

</patTemplate:tmpl>

<patTemplate:tmpl name="upgrade-instructions">
<h2>Upgrading 0.5, 0.5.1 -> 0.5.2</h2>
<ol>
<li>Backup Database and all files</li>
<li>unpack the phpaccounts.tgz archive</li>
<li>copy old users directory to the new folder created</li>
<li>copy old config.php file to the new folder created</li>
<li><a href="upgrade.php">run this upgrade.php script</a></li>
</ol>
</patTemplate:tmpl>
