<patTemplate:tmpl name="login">
<html>
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="style.css" type="text/css">
<script language="Javascript">
function demoLogin()
{
var D = document.loginForm;
D.Login_Username.value = 'demo@specialbishops.com';
D.Login_Password.value = 'demo';
D.submit();
return true;
}

</script>
</head>
<body class="bgbody">
<form name="loginForm" action="index.php?frameset=true" method="POST" target="_top">


<div id="loginbox">

<div class="header1"><h2>Please Login</h2></div>

<div id="loginformbox">
Email: <input type="text" name="Login_Username"><br>
Password: <input type="password" name="Login_Password"><br>
<input type="submit" name="login" value="Login">
<input type="submit" name="forgotten_password" value="Forgotten Password?">
</div>

{MESSAGE}

<div class="header2">
<a href="#" onclick="demoLogin();">Demo Login</a>
<div id="CreateAccount"><a href="create_account.php">Create Account</a></div>
</div>

</div>

</form>
</body>
</html>
</patTemplate:tmpl>

<patTemplate:tmpl name="no_cookie_message">
<html>
<head>
<title>Please Enable Cookies In Your Browser</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<h3>This is a Check to ensure you have cookies enabled</h3>
<h1><a href="./">click here to enter</a></h1>
<h5>If you're unable to proceed, please ensure you have cookies enabled in your browser</h5>
<ul>
<li><a href="http://www.microsoft.com/info/cookies.htm">Information about Cookies for Internet Explorer Users</a></li>
<li><a href="http://mozilla.gunnars.net/mozilla_privacy_and_security_tutorial.html">Information about Cookies for Mozilla Users</a></li>
</ul>
</body>
</html>
</patTemplate:tmpl>
