<patTemplate:tmpl name="menu">
<div id="topmenu">
<div id="menutitle">
<img src="images/icons/gnome/stock/form/stock_form-currency-field.png">Outgoings
</div>
<ul>
 <li><a href="?page=outgoings&action=edit_outgoings&Outgoing_ID=0"><img src="images/icons/gnome/stock/document/stock_new.png">Add New Outgoing</a></li>
 <li><a  href="?page=outgoings&action=view_outgoings"><img src="images/icons/gnome/stock/form/stock_insert-form.png">List Outgoings</a></li>
 <li><a  href="?page=outgoings&action=search_outgoings"><img src="images/icons/gnome/stock/navigation/stock_zoom.png">Search Outgoings</a></li>
 <li><a  href="?page=outgoings&action=outgoing_types"><img src="images/icons/gnome/stock/generic/stock_notes.png">Edit Outgoing Type</a></li>
</ul>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="search">
<div class="centered">

<fieldset>
<legend>Search Outgoings</legend>
<form action="?page=outgoings&action=search_outgoings" method="POST">
<p>
Type Search Terms and/or choose vendor(s) and/or choose outgoing type(s)
</p>

<strong>Search Description:</strong> <input type="text" name="Search_Query">
<strong>Search Price:</strong> <input type="text" name="Price">
<input type="submit" value="search outgoings">
{VENDOR_SELECT_LIST}
{OUTGOING_TYPE_SELECT_LIST}
<input type="submit" value="search outgoings">
</form>
</fieldset>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl  name="outgoing_types">

<div class="centered">
<form action="?page=outgoings&action=submit_outgoing_types" method="POST">
<table class="results">
 <tr>
  <td class="heading" colspan="3">
  Edit Outgoing Types
  </td>
 </tr>
 <tr> 
  <th class="cella">Type</th>
  <th class="cellb" colspan="2">Percentage</th>
 </tr>
<patTemplate:link src="outgoing_type_results" />
 <tr> 
  <th class="cella">New:<input type="text" name="New_Outgoing_Type"></th>
  <th class="cellb" colspan="2"><input type="submit" value="Update"></th>
 </tr>
 </table>
</form>
<div>
</patTemplate:tmpl>

<patTemplate:tmpl  name="outgoing_type_results">
<tr>
 <td class="cell{I}a"><input type="text" name="Outgoing_Types[{ID}]" value="{OUTGOING_TYPE}"></td>
 <td class="cell{I}b">{PERCENTAGE}%</td>
 <td class="cell{I}a"><img src="images/misc/horizontal/blue-graph.gif" width="{GRAPH_PERCENTAGE}" height="10"><td>
</tr>
</patTemplate:tmpl>


<patTemplate:tmpl  name="outgoings_summary">

<div class="centered">
<h3>
<a href="?{SUMMARY}">Back to summary<img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>
<table class="results">
 <tr>
  <td></td>
  <td class="heading" colspan="{HEADING_COLSPAN}">
  <a href="?{ACTION}&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
   Outgoing for <span class="period">{TIMESHEET_PERIOD}</span>
  <a href="?{ACTION}&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
  <td></td>
 </tr>
 <tr>
  <td></td>
  <patTemplate:link src="months" />
  <th>Total</th>
 </tr>
 <patTemplate:link src="outgoing_type_breakdown" />
 <tr valign="bottom">
 <td></td>
  <patTemplate:link src="month_outgoings_graphs" />
  <td></td>
 </tr>
 <tr>
 <td></td>
  <patTemplate:link src="month_outgoings_figures" />
  <td></td>
 </tr>
 <tr>
  <td></td>
  <td colspan="{SPACER_COLSPAN}">&nbsp;</td>
  <th class="cellb" colspan="2">Total Value:</th>
  <th class="cella" colspan="2">_HTML_CURENCY_SYMBOL_{TOTAL_VALUE}</th>
  <td></td>
 </tr>
</table>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="outgoing_type_breakdown">
<tr>
 <td class="cell{I}{J}">{OUTGOING_TYPE}</td>
 <patTemplate:link src="outgoing_type_breakdown_results" />
</tr>
</patTemplate:tmpl>

<patTemplate:tmpl name="outgoing_type_breakdown_results">
<td class="cell{I}{J}">{VALUE}</td>
</patTemplate:tmpl>
<patTemplate:tmpl name="months">
<th class="cell{I}"><a href="?page=outgoings&action=view_outgoings&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Start_Timestamp={START_TIMESTAMP}&Period={VIEW_PERIOD}">{PERIOD}</a></th>
</patTemplate:tmpl>

<patTemplate:tmpl name="month_outgoings_graphs">
<td class="cell0{I}"><a href="?page=outgoings&action=view_outgoings&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Start_Timestamp={START_TIMESTAMP}&Period={VIEW_PERIOD}">
<img src="images/misc/green-graph.gif" width="30" height="{VALUE_GRAPH}" title="£{VALUE} in {TIME}" alt="£{VALUE} in {TIME}" class="smallgraph"></a>
</td>
</patTemplate:tmpl>


<patTemplate:tmpl name="month_outgoings_figures">
<td class="cell1{I}">
_HTML_CURENCY_SYMBOL_{VALUE}<br>
</td>
</patTemplate:tmpl>

<patTemplate:tmpl name="view_outgoings">

<div class="centered">

<table class="results">
 <tr>
  <td colspan="8" class="heading">
     <a href="?page=outgoings&action=view_outgoings&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
	{ITEMS} Items During {TIMESHEET_PERIOD}
	<a href="?page=outgoings&action=view_outgoings&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_END}&End_Timestamp={NEXT_PERIOD_START}&csv=true">CSV</a>
	<a href="?page=outgoings&action=edit_outgoings&Outgoing_ID=0&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}">New</a>
	<a href="?page=outgoings&action=view_outgoings&Vendor_ID={VENDOR_ID}&Outgoing_Type_ID={OUTGOING_TYPE_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
 </tr>
 <tr>
  <th class="cella">Type</th>
  <th class="cellb">Date</th>
  <th class="cella">Vendor</th>
  <th class="cellb">Description</th>
  <th class="cella">Value</th>
  <th class="cellb">Due</th>
  <th class="cella">Edit</th>
  <th class="cellb">Delete</th>
  </tr>
<patTemplate:link src="outgoings_results" />
 <tr>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th class="cellb">_HTML_CURENCY_SYMBOL_{TOTAL_VALUE}</th>
  <th class="cella"><span class="red">_HTML_CURENCY_SYMBOL_{TOTAL_DUE}</span></th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  </tr>
 </table>
</div>
</patTemplate:tmpl>



<patTemplate:tmpl name="search_outgoings">

<div class="centered">

<table class="results">
 <tr>
  <td colspan="8" class="heading">
	{ITEMS} Items Found for <span class="client">{SEARCH_QUERY}</span>
	<a href="?page=outgoings&action=search_outgoings">Search Again</a>
  </td>
 </tr>
 <tr>
  <th class="cella">Type</th>
  <th class="cellb">Date</th>
  <th class="cella">Vendor</th>
  <th class="cellb">Description</th>
  <th class="cella">Value</th>
  <th class="cellb">Due</th>
  <th class="cella">Edit</th>
  <th class="cellb">Delete</th>
  </tr>
<patTemplate:link src="outgoings_results" />
 <tr>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th class="cellb">_HTML_CURENCY_SYMBOL_{TOTAL_VALUE}</th>
  <th class="cella"><span class="red">_HTML_CURENCY_SYMBOL_{TOTAL_DUE}</span></th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  </tr>
 </table>
</div>
</patTemplate:tmpl>


<patTemplate:tmpl name="outgoings_results">
 <tr>
  <td class="cell{I}a"><a title="edit outgoings item" href="?page=outgoings&action=edit_outgoings&Outgoing_ID={ID}">{OUTGOING_TYPE}</a></td>
  <td class="cell{I}b">{DATE}</td>
  <td class="cell{I}a">{VENDOR}</td>
  <td class="cell{I}b">{DESCRIPTION}</td>
  <td class="cell{I}a">_HTML_CURENCY_SYMBOL_{VALUE}</td>
  <td class="cell{I}b"><span class="{DUE_CLASS}">_HTML_CURENCY_SYMBOL_{DUE}</span></td>
  <td class="cell{I}a"><a title="edit outgoings item" href="?page=outgoings&action=edit_outgoings&Outgoing_ID={ID}"><img 
  src="images/icons/16x16/viewmag.png"></a></td>
  <td class="cell{I}b"><a title="delete outgoings item" href="?page=outgoings&action=delete_outgoings&Outgoing_ID={ID}&Vendor_ID={VENDOR_ID}"><img 
  src="images/icons/gnome_small/stock/generic/stock_stop.png"></a></td>
 </tr>
</patTemplate:tmpl>



<patTemplate:tmpl name="edit_outgoings">

<div class="centered">
<form action="?page=outgoings&action=submit_outgoings" method="POST">
<input type="hidden" name="ID" value="{ID}">

<table class="results">
 <tr>
  <td colspan="6" class="heading2">
	  Edit Outgoing <a href="?page=outgoings&action=edit_outgoings&Similar_ID={ID}">
		  Add Similar Outgoing</a>
  </td>
 </tr>
 <tr>
  <th class="cella">Type:</th>
  <th class="cellb">{OUTGOING_TYPE_SELECT_LIST}</th>
  <th class="cella">Date:</th>
  <th class="cellb">{DATE_SELECT}</th>
  <th class="cella">Price:</th>
  <th class="cellb">_HTML_CURENCY_SYMBOL_<input type="text" name="Value" value="{VALUE}" size="5"></th>
 </tr>
 <tr>
  <th class="cella">Vendor:</th>
  <th class="cellb">{VENDOR_SELECT_LIST}</th>
  <th class="cella">New Vendor:</th>
  <th class="cellb" colspan="3"><input type="text" name="New_Vendor" size="40"></th>
  <td></td>
  <td></td>
 </tr>
 <tr>
  <th class="cella">Description</th>
  <th class="cellb" colspan="3">
  <input type="text" name="Description" value="{DESCRIPTION}" size="60"></th>
  <td><input type="submit" value="submit"></td>
 </tr>
 </table>
 </form>
 <patTemplate:link src="payments" />
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="payments">
<p>
<patTemplate:link src="new_payment_message" />
<form action="?page=outgoings&action=new_payment&Outgoing_ID={ID}" method="POST">
<table class="results">
 <tr>
  <td colspan="4" class="heading2">Payments</td>
 </tr>
 <tr>
  <th class="cella">Date</th>
  <th class="cellb">Value</th>
  <th class="cella">Mehtod</th>
  <th class="cellb">Delete</th>
 </tr>
 <patTemplate:link src="payment_results" />
 <tr>
  <th class="cella">{PAYMENT_DATE_SELECT}</th>
  <th class="cellb"><input type="text" name="Value" value="{PAYMENT_VALUE}"size="8"></th>
  <th class="cella">{PAYMENT_METHOD_SELECT}</th>
  <th class="cellb"><input type="submit" value="New Payment"></th>
 </tr>
</table>
</form>
</p>

</patTemplate:tmpl>

<patTemplate:tmpl name="new_payment_message" visibility="hidden">
<div class="center">
<strong>If you have paid for this outgoing already, choose the payment type and date below and click new payment</strong>
</div>
</patTemplate:tmpl>
<patTemplate:tmpl name="payment_results">
 <tr>
  <td class="cell{I}a">{DATE}</td>
  <td class="cell{I}b">_HTML_CURENCY_SYMBOL_{VALUE}</td>
  <td class="cell{I}a">{PAYMENT_METHOD}</td>
  <td class="cell{I}b"><a title="delete payment" href="?page=outgoings&action=delete_payment&Outgoing_ID={OUTGOING_ID}&Timestamp={TIMESTAMP}"><img 
  src="images/icons/gnome_small/stock/generic/stock_stop.png"></a></td>
 </tr>
</patTemplate:tmpl>

<patTemplate:tmpl name="cant_delete_outgoing">
<h3 class="warning">Can't delete outgoings, payments made already</h3>
</patTemplate:tmpl>
