
<patTemplate:tmpl name="view_payments">

<div class="centered">

<h3>

<a href="?page=clients&action=list_clients">Back to client list <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

<p>
<table class="results">
 <tr>
  <td colspan="7" class="heading">
     <a href="?page=clients&action=view_payments&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
	
	{PAYMENTS} Payments for {PAYMENTS_PERIOD} <a href="?page=clients&action=view_client&Client_ID={CLIENT_ID}"><span class="client">{CLIENT}</span></a> 
	
	<a href="?page=clients&action=view_payments&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
 </tr>
 <tr>
  <th class="cella">Invoice ID</th>
  <th class="cellb">Client</th>
  <th class="cella">Date</th>
  <th class="cellb">Payment</th>
  <th class="cella">Description</th>
  <th class="cellb">Invoice Date</th>
  <th class="cella">View</th>
  </tr>
<patTemplate:link src="payment_results" />
 <tr>
  <td></td>
  <td></td>
  <th class="cella">Total</th>
  <th class="cellb">_HTML_CURENCY_SYMBOL_{TOTAL}</th>
  <td colspan="3"></td>
 </tr>
 </table>
</p>

<h3>
<a href="?page=clients&action=list_clients">Back to client list <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="payment_results">
 <tr>
  <td class="cell{I}a"><a title="view invoice" href="?page=clients&action=view_invoice&Invoice_ID={INVOICE_ID}">{INVOICE_ID}</a></td>
  <td class="cell{I}b"><a title="edit this client" href="?page=clients&action=view_client&Client_ID={CLIENT_ID}">{COMPANY_NAME}</a></td>
  <td class="cell{I}a">_HTML_CURENCY_SYMBOL_{PAYMENT_DATE}</td>
  <td class="cell{I}b">{VALUE}</td>
  <td class="cell{I}a">{DESCRIPTION}</td>
  <td class="cell{I}b">{INVOICE_DATE}</td>
  <td class="cell{I}a"><a title="view invoice" href="?page=clients&action=edit_invoice&Invoice_ID={INVOICE_ID}"><img src="images/icons/16x16/viewmag.png"></a></td>
 </tr>
</patTemplate:tmpl>
