
<patTemplate:tmpl name="view_projects">

<div class="centered">

<h3>

<a href="?page=clients&action=list_clients">Back to client list <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

<p>
<table class="results">
 <tr>
  <td colspan="8" class="heading">
     <a href="?page=clients&action=view_projects&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
	
	{PROJECTS} Projects for {PROJECTS_PERIOD} <a href="?page=clients&action=view_client&Client_ID={CLIENT_ID}"><span class="client">{CLIENT}</span></a> <a href="?page=clients&action=edit_project&Client_ID={CLIENT_ID}">New</a>
	
	<a href="?page=clients&action=view_projects&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
 </tr>
 <tr>
  <th class="cella">ID</th>
  <th class="cellb">Date Opened</th>
  <th class="cella">Date Closed</th>
  <th class="cellb">Client</th>
  <th class="cella">Description</th>
  <th class="cellb">Timesheets</th>
  <th class="cella">View</th>
  <th class="cellb">Delete</th>
  </tr>
<patTemplate:link src="project_results" />
</table>
</p>

<h3>
<a href="?page=clients&action=list_clients">Back to client list <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="project_results">
 <tr>
  <td class="cell{I}a"><a title="view project" href="?page=clients&action=view_project&Project_ID={ID}">{ID}</a></td>
  <td class="cell{I}b">{DATE_OPENED}</td>
  <td class="cell{I}a">{DATE_CLOSED}</td>
  <td class="cell{I}b"><a href="?page=clients&action=view_client&Client_ID={CLIENT_ID}">{CLIENT}</a></td>
  <td class="cell{I}a">{DESCRIPTION}</td>
  <td class="cell{I}b"><a href="?page=clients&action=view_timesheet&Client_ID={CLIENT_ID}&Project_ID={ID}" title="view timesheets for this project">{TIMESHEETS}</a></td>
  <td class="cell{I}a"><a title="view project" href="?page=clients&action=edit_project&Project_ID={ID}"><img src="images/icons/16x16/viewmag.png"></a></td>
  <td class="cell{I}b"><a title="delete project" href="?page=clients&action=delete_project&Project_ID={ID}&Client_ID={CLIENT_ID}"><img 
  src="images/icons/gnome_small/stock/generic/stock_stop.png"></a></td>
 </tr>
</patTemplate:tmpl>
