
<patTemplate:tmpl name="view_quotes">

<div class="centered">

<h3>

<a href="?page=clients&action=list_clients">Back to client list <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

<p>
<table class="results">
 <tr>
  <td colspan="8" class="heading">
     <a href="?page=clients&action=view_quotes&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={LAST_PERIOD_START}&End_Timestamp={LAST_PERIOD_END}" title="last {PERIOD}"><img src="images/icons/arrow-left.gif"></a>
	
	{QUOTES} Quotes for {QUOTES_PERIOD} <a href="?page=clients&action=view_client&Client_ID={CLIENT_ID}"><span class="client">{CLIENT}</span></a> <a href="?page=clients&action=edit_quote&Client_ID={CLIENT_ID}">New</a>
	
	<a href="?page=clients&action=view_quotes&Client_ID={CLIENT_ID}&Period={PERIOD}&Start_Timestamp={NEXT_PERIOD_START}&End_Timestamp={NEXT_PERIOD_END}" title="next {PERIOD}"><img src="images/icons/arrow-right.gif"></a>
  </td>
 </tr>
 <tr>
  <th class="cella">ID</th>
  <th class="cellb">Value</th>
  <th class="cella">Date</th>
  <th class="cellb">Client</th>
  <th class="cella">Description</th>
  <th class="cellb">View</th>
  <th class="cella">Delete</th>
  <th class="cellb">Print</th>
  </tr>
<patTemplate:link src="quote_results" />
 <tr>
  <th class="cella">Total:</th>
  <th class="cellb">_HTML_CURENCY_SYMBOL_{TOTAL}</th>
  <td colspan="5"></td>
 </tr>
</table>
</p>

<h3>
<a href="?page=clients&action=list_clients">Back to client list <img src="images/icons/32x32/undo.png" class="inlineicon"></a></h3>

</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="quote_results">
 <tr>
  <td class="cell{I}a"><a title="view quote" href="?page=clients&action=view_quote&Quote_ID={ID}">{ID}</a></td>
  <td class="cell{I}b">_HTML_CURENCY_SYMBOL_{VALUE}</td>
  <td class="cell{I}a">{DATE}</td>
  <td class="cell{I}b"><a href="?page=clients&action=view_client&Client_ID={CLIENT_ID}">{CLIENT}</a></td>
  <td class="cell{I}a">{DESCRIPTION}</td>
  <td class="cell{I}b"><a title="view quote" href="?page=clients&action=edit_quote&Quote_ID={ID}"><img src="images/icons/16x16/viewmag.png"></a></td>
  <td class="cell{I}a"><a title="delete quote" href="?page=clients&action=delete_quote&Quote_ID={ID}&Client_ID={CLIENT_ID}"><img 
  src="images/icons/gnome_small/stock/generic/stock_stop.png"></a></td>
  <td class="cell{I}b"><a title="print pdf quote" href="?page=clients&action=print_quote&Quote_ID={ID}&Client_ID={CLIENT_ID}"><img 
  src="images/icons/16x16/pdf.png"></a></td>
 </tr>
</patTemplate:tmpl>
