<patTemplate:tmpl name="summary_menu">
<div id="topmenu">
<div id="menutitle">
<img src="images/icons/gnome/stock/chart/stock_chart-reorganize.png">Summary
</div>
<ul>
  <li><a  href="?page=reports&Period=year&Type=cashflow"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-axes-title.png">Cash Flow</a></li>
  <li><a  href="?page=reports&Period=year&Type=timesheet"><img src="images/icons/gnome/stock/generic/stock_new-appointment.png">Timesheets</a></li>
  <li><a  href="?page=reports&Period=year&Type=invoice"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-legend.png">Invoices</a></li>
  <li><a  href="?page=reports&Period=year&Type=repeat_invoice"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-legend.png">Current Rpt Invoices</a></li>
  <li><a  href="?page=reports&Period=year&Type=forecast_repeat_invoice"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-legend.png">Forecast Rpt Invoices</a></li>
  <li><a  href="?page=reports&Period=year&Type=payment"><img src="images/icons/gnome/payments.png">Payments</a></li>
  <li><a  href="?page=reports&Period=year&Type=outgoings"><img src="images/icons/gnome/outgoings.png">Outgoings</a></li>
</ul>
</div>
</patTemplate:tmpl>




<patTemplate:tmpl name="summarydfd_menu">
<div class="box3">
<span class="heading3"><img src="images/icons/gnome/stock/chart/stock_chart-reorganize.png"> Summary</span>
<table>
 <tr>
  <th colspan="2">Cash Flow</th>
  <th colspan="2">Timesheets</th>
  <th colspan="2">Invoices</th>
  <th colspan="2">Payments</th>
  <th colspan="2">Outgoings</th>
 </tr>
 <tr>
  <td><a  href="?page=reports&Period=week&Type=cashflow"> Weekly Summary</a></td>
  <td><a  href="?page=reports&Period=year&Type=cashflow"> Annual Summary</a></td>
  <td><a  href="?page=reports&Period=week&Type=timesheet"> Weekly Summary</a></td>
  <td><a  href="?page=reports&Period=year&Type=timesheet"> Annual Summary</a></td>
  <td><a  href="?page=reports&Period=week&Type=invoice"> Weekly Summary</a></td>
  <td><a  href="?page=reports&Period=year&Type=invoice"> Annual Summary</a></td>
  <td><a  href="?page=reports&Period=week&Type=payment"> Weekly Summary</a></td>
  <td><a  href="?page=reports&Period=year&Type=payment"> Annual Summary</a></td>
  <td><a  href="?page=reports&Period=week&Type=outgoings"> Weekly Summary</a></td>
  <td><a  href="?page=reports&Period=year&Type=outgoings"> Annual Summary</a></td>
 </tr>
</table>
</div>
</patTemplate:tmpl>



