<patTemplate:tmpl name="tasks">
<div class="centered">

<script type="text/javascript" language="javascript">
//<!--
function getAction(action)
{
	document.actions.action = '?page=clients&action=new&Submit='+ action;
	document.actions.submit();
	return true;
}
function getReport(action)
{
	document.reports.action = '?page=clients&action='+ action;
	document.reports.submit();
	return true;
}
// -->
</script>

<patTemplate:link src="development_news" />

<fieldset>
<legend>Client Actions</legend>
<ul class="menu">
<li><a href="?page=clients&action=invoice_wizard"><img src="images/icons/16x16/pdf.png">Invoice Wizard</a> </li>
<li><a href="?page=clients&action=list_clients"><img src="images/icons/gnome/stock/form/stock_insert-form.png">List Clients</a></li>
<li><a href="?page=clients&action=new_client"><img src="images/icons/gnome/stock/document/stock_new.png">Create New Client</a></li>
</ul>
<form name="actions" method="post">
<ul class="menu">
<li> <a href="javascript:getAction('timesheet');"><img src="images/icons/gnome/stock/generic/stock_new-appointment.png">New Timesheet</a> </li>
<li> <a href="javascript:getAction('invoice')"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-legend.png">New Invoice</a> </li>
<li> <a href="javascript:getAction('quote');"><img src="images/icons/gnome/stock/document/stock_task.png">New Quote</a> </li>
<li> <a href="javascript:getAction('project');"><img src="images/icons/gnome/stock/generic/stock_dialog-info.png">New Project</a> </li>
</ul>
</form>
</fieldset>

<fieldset>
<legend>Quick Reports</legend>
<ul class="menu">
<li><a href="?page=reports&Type=unpaid_invoices"><img src="images/icons/gnome/outgoings.png">Unpaid Invoices</a></li>
<li><a href="?page=reports&Period=year&Type=cashflow"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-axes-title.png">Annual Cashflow</a></li>
</ul>
<form name="reports" method="post">
<ul class="menu">
<li><strong>For</strong>: {CLIENT_SELECT_LIST} <strong>list</strong>:</li>
<li><a href="javascript:getReport('timesheet_summary');"><img src="images/icons/gnome/stock/generic/stock_new-appointment.png">Timesheets</a></li>
<li> <a href="javascript:getReport('view_invoices')"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-legend.png">Invoices</a> </li>
<li> <a href="javascript:getReport('view_quotes');"><img src="images/icons/gnome/stock/document/stock_task.png">Quotes</a> </li>
<li> <a href="javascript:getReport('view_projects');"><img src="images/icons/gnome/stock/generic/stock_dialog-info.png">Projects</a> </li>
</ul>
</form>
</fieldset>


<fieldset>
<legend>Settings + Preferences</legend>
<ul class="menu">
 <li><a href="?page=tasks&action=my_details"><img src="images/icons/gnome/stock/generic/stock_person.png" class="absmiddle" ></a>
 <a href="?page=tasks&action=my_details">My Details</a></li>
 <li><a href="?page=tasks&action=preferences"><img src="images/icons/gnome/stock/chart/stock_chart-toggle-legend.png" class="absmiddle" ></a>
 <a href="?page=tasks&action=preferences">Preferences</a></li>
</ul>
</fieldset>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="development_news">
<div class="news">
<fieldset>
<legend>News</legend>
<dl>
<patTemplate:link src="development_news_results" />
</dl>
</fieldset>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="development_news_results">
<dt><a href="{LINK}">{TITLE}</a></dt>
<dd>{DESCRIPTION}<a href="{LINK}">... more</a><br />
<span class="date">Posted about <i>{DATE} ago</i></span></dd>
</patTemplate:tmpl>


<patTemplate:tmpl name="menu">
<div id="topmenu">
<div id="menutitle">
<img src="images/icons/gnome/stock/net/stock_mail-compose.png"> Tasks
</div>
<a href="?page=tasks">
<img src="images/icons/gnome/stock/net/stock_mail-compose.png"> Main menu</a>
</div>
</patTemplate:tmpl>

<patTemplate:tmpl name="my_details">
<div class="centered">
{FORM}
</div>
</patTemplate:tmpl>



<patTemplate:tmpl name="preferences">
<div class="centered">
<form action="?page=tasks&action=preferences" method="post" enctype="multipart/form-data">
<fieldset>
<legend>Edit Preferences</legend>
<table>
</tr>
<patTemplate:link src="preferences_results" />
<patTemplate:link src="font_select" />
<tr>
<td colspan="2" class="centered">
<input type="submit" name="default" value="Revert to Defaults">
<input type="submit" value="Save Changes">
</td>
</table>
</fieldset>

<fieldset>
<legend>Letterhead Image</legend>
<table>
<tr>
<th>Current Image</th>
<th>Upload New Image</th>
</tr>
<tr>
<td><a href="users/{USER_ID}/letterhead.png"><img src="users/{USER_ID}/t_letterhead.jpg"></a></td>
<td><input type="file" name="letterhead_image"> please use 20cm x 3.8cm size image</td>
</tr>
<tr>
<td colspan="2" class="centered">
revert to default image<input type="checkbox" name="default_letterhead" value="true">
<input type="submit" value="Save Changes">
</td>
</table>
</fieldset>

</form>
</div>
</patTemplate:tmpl>


<patTemplate:tmpl name="font_select">
<tr>
 <th>LETTER FONT</th>
 <td>{SELECT_LIST}</td>
</tr>
</patTemplate:tmpl>

<patTemplate:tmpl name="preferences_results">
<tr>
 <th>{TITLE}</th>
 <td><textarea name="Preferences[{PREFERENCE}]" rows="4" cols="60">{VALUE}</textarea></td>
</tr>
</patTemplate:tmpl>
