/*
   Define main tags
 */

html  { margin: 0; padding: 0; }

body  { margin: 0; padding: 0; font-family:"Verdana","Arial","Helvetica",sans-serif; font-size:8pt; background-color: #FFF; }

p  { margin-top: 0; text-align: justify; }

h1 { font:62pt "Trebuchet MS","Arial","Verdana",sans-serif; letter-spacing:.125em; }
h2 { font-family: "Trebuchet MS","Arial","Verdana",sans-serif; font-size:18pt; letter-spacing:.125em; font-weight: normal; }
h3 { font-family: "Trebuchet MS","Arial","Verdana",sans-serif; font-size:14pt; letter-spacing:.125em; }
h4, .section-block h3 { font-size:12pt }
h5, h6 { font-size:10pt; letter-spacing:1px; }

pre { padding: 8px; background-color: #FFF; border: 1px solid #AAA; color: #333; }

form   { margin: 0; padding: 0; } 
input, select, textarea  { font-size: 1.2em; border: 1px solid #AAA; background: #FFF; }
input[type=submit] { overflow: visible; padding: 2px 5px; background: url(images/misc/40-fade.gif) #FFF repeat-x; } 

img { border: none; }

a:link, a:visited { text-decoration:none; color: #006; }
a:hover, a:focus, a:active { text-decoration:underline; color: #C00; }

table  { font-size: 12px; border-collapse: separate; empty-cells: show; }
td, th  { padding: 5px; }
th { font-family:  Verdana, Helvetica, sans-serif; }

fieldset { margin: 20px; border: 1px solid #AAA; background: url(images/misc/40-fade.gif) #FFF repeat-x; }

legend { background-color: #FFF; border-left: 1px solid #AAA; border-bottom: 1px solid #AAA; padding: 4px 16px 4px 16px; color: #006; font-size: 16pt; font-weight: normal; letter-spacing:.1em; font-family: Trebuchet, "Trebuchet MS", Verdana, Helvetica, sans-serif; }
label { font-weight: bold; width: 8em; float: left; text-align: right; margin-right: 0.5em; display: block }


dl { margin: 0; padding: 0; }
dt { padding: 4px; font-size: 1.4em; border-bottom: 1px solid #AAA; }
dd { margin: 0; padding: 4px 4px 10px 4px; border-bottom: 1px solid #EEE; }


/*
   Basic Element clases
 */

div.centered { text-align: center; }
div.centered table { margin: 0 auto; text-align: left; }

td.centered { text-align: center; }

/*
 * Specific Divs
 */

#createbox { position: absolute; width: 920px; left: 50%; top: 50%; margin-top: -150px; margin-left: -460px; border: 1px solid #666; background-color: #FFF; font-size: 9pt; } 
#createbox h2 { font-size: 28pt; margin: 0; }

#loginForm  { margin: 0px auto; width: 40em;}
#loginForm th { text-align: right; }
#loginForm fieldset { padding: 20px; }

#createAccount { text-align: right; margin-top: -9pt; }

#menuframe { padding-left: 4px; color: #006; }
#logo a img { border: 1px solid #AAA;  margin-left: 4px; }
#logolarge { float: right; }
#logolarge a img { border: 1px solid #AAA;  margin-left: 4px; }

#menulist { margin-left: 8px; padding-left: 0; }
#menulist li { margin-bottom: 4px; list-style-type: none; font-size: 14pt; font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif; }
#menulist a:link { color: #006; }
#menulist a:visited { color: #006; }

#topmenu { text-align: right; color: #333;background: url(images/misc/40-reverse-fade.gif) repeat-x; border-bottom: 1px solid #AAA; padding-bottom: 4px; margin-bottom: 20px; font-size: 10pt; }
#topmenu img { vertical-align: middle; padding-right: 4px; padding-left: 14px; padding-top: 4px; } 
#topmenu ul { margin: 0; padding: 0; }
#topmenu li { display: inline; list-style: none; } 
#topmenu a:link { color: #006; }
#topmenu a:visited { color: #006; }
#topmenu form { display: inline; padding: 0; margin: 0; }

#menutitle { position: absolute; left: 4px; top: 0; z-index: 5; font-size: 12pt; font-weight: bold; display: inline; text-align: left; }

/*
 *  * Specific Classes
 *   */

.news { float: right; width: 280px; text-align: left; }

img.smallgraph { border: 1px solid #999; text-align: center; }

img.inlineicon { text-align: bottom; }

table.results { font-size: 8pt; border-spacing: 0; }


.bgbody { background-image: url(images/misc/.gif); }

.bgblue { background-color: #CCC; }

.bgblue2 { background-color: #CCC; }

.border { border: 1px solid #AAA; }

.box3 { width: 100%; padding: 0; background-color: #616161; background-image: url(images/misc/rackspace2.gif); border-bottom: 1px solid #999; }

.header1 { color: #333; background-color: #CCC; border-bottom: 1px solid #C00; } 

.header2 { color: #333; background-color: #CCC; border-top: 1px solid #C00; }

.heading   { border-bottom: 1px solid #999; text-align: center; background: url(images/misc/40-reverse-fade.gif) repeat-x; font-size: 14pt; font-weight: normal; letter-spacing:.1em; font-family: Trebuchet, "Trebuchet MS", Verdana, Helvetica, sans-serif; }

.heading2   { border-bottom: 1px solid #999; background: url(images/misc/40-reverse-fade.gif) repeat-x;color: #333; font-size: 12px; font-weight: bold; letter-spacing:.1em; font-family: Trebuchet, "Trebuchet MS", Verdana, Helvetica, sans-serif; }

.heading3   { color: #333; font-size: 14x; font-weight: bold; font-family: Trebuchet, "Trebuchet MS", Verdana, Helvetica, sans-serif; }

.edit  { display: table; border: 1px dotted #999; background: #ECECEC; font-size: 8pt; border-spacing: 0; margin: 20px; }
.edit th { text-align: right; }

/* odd items 1,3,5,7,... */
table tr.odd th,
.odd {
    background: #E5E5E5;
}

/* even items 2,4,6,8,... */
table tr.even th,
.even {
    background: #D5D5D5;
}

/* odd table rows 1,3,5,7,... */
table tr.odd th,
table tr.odd,
table tr.even th,
table tr.even {
    text-align:         left;
}

/* marked table rows */
table tr.marked th,
table tr.marked {
    background:   #FFCC99;
    color:   #000000;
}

/* hovered items */
.odd:hover,
.even:hover,
.hover {
    background: #CCFFCC;
    color: #000000;
}

/* hovered table rows */
table tr.odd:hover th,
table tr.even:hover th,
table tr.hover th {
    background:   #CCFFCC;
    color:   #000000;
}

td.cell0a { background-color: #F7F7FF; border-left: 1px dotted #999; border-right: 1px dotted #999; border-bottom: 1px dotted #999; }
td.cell0b { background-color: #F3F3FC; border-bottom: 1px dotted #999; }
td.cell1a { background-color: #FCFCF7; border-left: 1px dotted #999; border-right: 1px dotted #999; border-bottom: 1px dotted #999; }
td.cell1b { background-color: #FCFCF3; border-bottom: 1px dotted #999; }
th.cella { background-color: #FEFEFE; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; }
th.cellb { background-color: #F3F3F3; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; }

table.results tr:hover td.cell0a, table.results tr:hover td.cell0b, table.results tr:hover td.cell1a, table.results tr:hover td.cell1b { background-color: #FFC; }

.verticalHeader { text-align: right; }

.warning { text-align: center; color: #FF6666; padding: 10px; font-weight: bold; background-color: #FFFF66; border-top: 2px solid #FF6666; border-right:  2px solid #FF6666; border-left: 2px solid #FF6666; border-bottom: 2px solid #FF6666; } 

.delete { color: #FF6666; background-color: #FFFF66; border-top: 2px solid #FF6666; border-right:  2px solid #FF6666; border-left: 2px solid #FF6666; border-bottom: 2px solid #FF6666;
}

.lightorangebg { background-color: #AF6; }

.red { color: #F00; }

.client { font-weight: bolder; color: #900; }

.period { font-style: italic; color: #666; }

.middle { vertical-align: middle; }

.menu  ul { margin: 0; padding: 0; }

.menu li { display: inline; list-style: none; }

.menu img { vertical-align: middle; padding-right: 4px; padding-left: 14px; padding-top: 4px; }

#help img { border: 1px solid #333; margin: 20px; }

.floatLeft { float: left; }
.floatRight { float: right; }

.item { clear: left; }

.message { margin-top: 10px; padding: 10px; font-size: 0.9em; border-top: 1px solid #EEE; } 

.date { color: #F00; }
